<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buddhabrot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.min.css">

    <style>

        /* progress bar */
        .prog-container > svg {
            display: block;
            width: 100%;
            height: 2px;
        }

        #cancan {
        }
        #frame {
            background: black;
            width: 1000px;
        }

        /*.col-lg-1 {
            border: 1px solid red;
        }*/

        #progress-container {
            height: 2px;
        }
        #progress-container-container {
            width: 1000px;
            border: 1px solid #aaa;
        }

        .canvas-container {
            margin: 0;
        }

        #controls-row {
            width: 1000px;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="bower_components/progressbar.js/dist/progressbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>

    <script src="buddha.js"></script>
    <script src="buddhaApp.js"></script>
</head>
<body ng-app="BuddhaApp">
    <div class="container" ng-controller="BuddhaController">

        <div class="row">
            <div id="canvas-container">
                <div id="frame">
                    <canvas id="cancan" width="1000" height="1000"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
             <div id="progress-container-container">
                <div id="progress-container" class="prog-container"></div>
            </div>
        </div>
        <div id="controls-row" class="row">
            <div id="controls" class="well">
                <form role="form" class="form-horizontal">
                    <div class="form-group" class="col-lg-8 col-md-12">
                        <select id="preset-select2" class="form-control">
                            <option></option>
                            <option value="quick">Quick</option>
                            <option value="deep">Deep</option>
                            <option value="deeper">Deeper</option>
                            <option value="slow">Slow</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="plots" class="col-lg-3">Number of plots (in millions)</label>
                        <div class="col-lg-4">
                            <input class="form-control" ng-model="plots" type="range" min="1" max="10000" step="1">
                        </div>
                        <div class="col-lg-2">
                            <input id="plots-display" ng-model="plots" class="form-control text-right" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="min-itr" class="col-lg-3">Minumum Iterations</label>
                        <div class="col-lg-4">
                            <input class="form-control" ng-model="min_itr" type="range" min="0" max="20000" step="1">
                        </div>
                        <div class="col-lg-2">
                            <input id="min-itr-display" ng-model="min_itr" class="form-control text-right" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="max-itr" class="col-lg-3">Maximum Iterations</label>
                        <div class="col-lg-4">
                            <input class="form-control" ng-model="max_itr" type="range" min="0" max="20000" step="1">
                        </div>
                        <div class="col-lg-2">
                            <input id="max-itr-display" ng-model="max_itr" class="form-control text-right" type="text">
                        </div>
                    </div>
                    <div>
                    <div class="form-group">
                        <div class="col-lg-8 col-md-12">
                            <label for="color-map">Color Map</label>
                            <select name="color-map" id="color-map" class="form-control" ng-model="colormap">
                                <option value="monochrome">Greyscale</option>
                                <option value="flame">Flame</option>
                                <option value="experiment">Experiment</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8 col-md-12">
                            <button type="submit" id="start-button" ng-click="start()" class="btn btn-primary" ng-disabled="running">Start</button>
                            <button type="button" id="stop-button" ng-click="stop()" class="btn btn-default" ng-disabled="!running">Stop</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
</html>